.listItem {
    position: relative;
    max-width: 100%;
}
.imgBtn{
    position: relative;
    display: flex;
    justify-content: center;

}
.imgBtn > img {
    width: 100%;
    border-radius: 12px;
    z-index: 0;
}
/* .addImage{
    width: 30px;
} */
.imgBtn > button {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 10rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    /* font-size: 20px; */

    position: absolute;
    bottom: -20px;
        
}
.btnPad{
    position: absolute;
    display: flex;
    bottom: -20px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border-radius: 10rem;
    justify-content: space-around;
    gap: 2.4rem;
    padding: 0.5rem;
}
.btnPad > button{
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    background-color: hsl(14, 86%, 42%);
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* transition: all 0.3s; */
}

.textDiv{
    margin-top: 30px;
}
.textDiv > p{
    margin: 10px 0px;
}
.title{
    font-weight: 700;
}
.price{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
@media (max-width: 767px) {
    .listItem  {
        width: 100%;
        border-radius: 12px;
    }
}