.ulList{
    list-style-type: none;
    max-width: 100%;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px
}
.ulList > li{
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .ulList{
        grid-template-columns: 1fr;
    }
}